@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@700&family=Poppins:wght@400;600&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
  --font-alt: "Poppins", sans-serif;
}
.glow-corner {
  background: radial-gradient(
    closest-side at 50% 50%,
    rgba(168, 85, 247, 1),
    transparent 100%
  ) !important;
  /* clip-path:ellipse(50% 50%) !important; */
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* scrollbar-color: #915fff black; */
  /* -webkit-overflow-scrolling: touch; */
  
}
